version: '3.9'
services:
  backend:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    working_dir: /app
    environment:
      APACHE_LOG_DIR: /alogs
      DB_TYPE_LOCAL: mysql
      DB_HOST_LOCAL: db
      DB_NAME_LOCAL: carrent
      DB_PORT_LOCAL: 3306
      DB_USERNAME_LOCAL: carrent
      DB_PASSWORD_LOCAL: carrent
      DB_TEST_TYPE: mysql
      DB_TEST_HOST: db-test
      DB_TEST_NAME: carrent
      DB_TEST_PORT: 3306
      DB_TEST_USERNAME: carrent
      DB_TEST_PASSWORD: carrent
    volumes:
      - ./app:/app
      - ./docker/php/logs:/alogs
    ports:
      - "80:80"
    networks:
      - carrent
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: carrent
      MYSQL_USER: carrent
      MYSQL_PASSWORD: carrent
    ports:
      - "3307:3306"
    networks:
      - carrent

  db-test:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: carrent
      MYSQL_USER: carrent
      MYSQL_PASSWORD: carrent
    ports:
      - "3308:3306"
    networks:
      - carrent

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    environment:
      PMA_HOSTS: db,db-test
    ports:
      - "8081:80"
    networks:
      - carrent

networks:
  carrent:
    name: carrent-network